<div class="container">

  <%= render 'public/place_genres/genre_list', place_genres: @place_genres %>

  <%= render 'search_list', place: @place, places: @places %>
  
  <%= paginate @places %>

</div>