<div class="container">
  <%= render 'search_form', q: @q %>

  <%= render 'public/place_genres/genre_list', place_genres: @place_genres %>

  <%= render 'search_list', place: @place, search_places: @search_places, tags: @tags %>

  <%= paginate @search_places %>

</div>