<div class="container">
  <% @plans.each do |plan| %>
    <%= link_to plan_path(plan.id) do %>
      <div class="card" style="width: 18rem;">
      <div class="card-body text-muted">
        <h5 class="card-title"><%= plan.name %></h5>
        <h6 class="card-subtitle">by <%= plan.user.name %></h6>
        <p class="card-text"><%= plan.place_name %></p>
      </div>
    <% end %>
  <% end %>
</div>