<div class="container">
  <div class="row">
    <nav>
      <ul class="navbar-nav ml-auto">
        <li><%= link_to "Plans" %></li>
        <li><%= link_to "Places" %></li>
      </ul>
    </nav>
  </div>
  <div class="row">
    
  </div>
</div>