<div class="col col-lg-3">
  
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false">
      ジャンルから選ぶ
    </button>
    <ul class="dropdown-menu dropdown-menu-lg-end">
      <% place_genres.each do |place_genre| %>
      <li>
        <button class="dropdown-item" type="button">
          <%= link_to place_genre.name, place_genre_path(place_genre.id), class: "text-info font-weight-bold" %>
        </button>
      </li>
      <% end %>
    </ul>
  </div>
  <h5><span class="border-bottom border-warning">
    
  </span></h5>
  <ul class="list-group list-group-flush text-center">
    
      <li class="list-group-item">
        
      </li>
    
  </ul>
</div>