<div class="container">
  <h4>！退会に際しての注意点！</h4>
  <p>・退会するとお気に入りに追加した投稿は自動的に削除されます。</p>
  <p>・すでに投稿されたものは削除されません。</p>
  
  <%= link_to "My Pageに戻る", my_page_path, class: "btn btn-success" %>
  <%= link_to "退会する", withdraw_path, method: :patch, class: "btn btn-danger"
</div>